.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b8b9bd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container {
  font-family: 'Nunito', sans-serif;
}
.btn{
  background-color: #6e9aa5c4;
  border: #1986a1c4;
  
}
thead tr, tfoot tr{
  text-align: center;
  color: white;
  background-color: #5893a2c4;
}
.movement-form{
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: center;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
}
.edit-form{
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: center;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
}
footer i{
  color: white;
  padding: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
